{{!-- <div class="row">
  <div class="col-12">
    <svg id="regions-map" width="800" height="600"></svg>
  </div>
</div> --}}

<div class="row">
  <div class="col-12">
    <div class="alert alert-primary" role="alert">
      V delu, lahko si ogledate ta <a
        href="https://covid19.alpaka.si/zemljevid/">zemljevid</a>
    </div>
  </div>
</div>