<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Pozitivnih testov</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>286</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Trenutno v bolnišnici</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>42</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Mrtvi</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>1</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="text-uppercase"><span class="d-none d-md-inline">Ozdravljeni</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3>???</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="chart-tests" class="col-lg-6 col-sm-12">
    <canvas class="chart" />
  </div>
  <div id="chart-regions" class="col-lg-6 col-sm-12">
    <canvas class="chart" />
  </div>
</div>