<a class="navbar-brand" href="#">COVID-19 Slovenija</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/#/about">O projektu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/stats">Statistika</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/data">Podatki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/viz">Vizualizacije</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/map">Zemljevid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/#/team">Ekipa</a>
    </li>    
  </ul>
</div>