<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.desc %>" />
  <!-- facebook -->
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:title" value="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="twitter:description" value="<%= htmlWebpackPlugin.options.desc %>" />
  <!-- <meta name="twitter:image" value="" /> -->
  <!-- <meta name="twitter:url" value="https://covid19.rtfm.si" /> -->

  <!-- Open Graph data -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.desc %>" />
  <!-- <meta property="og:url" content="https://covid19.rtfm.si" /> -->
  <!-- <meta property="og:image" content="http://example.com/image.jpg" /> -->
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light"></nav>
  <div id="content" class="container"></div>
</body>